{% load static %} 

<!DOCTYPE html> <!-- Tell the browser this is an HTML document -->

<html>
    <head>
        <title>Travel Wishlist</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> <!-- Link to the CSS file -->
    </head>



    <body>

        <h1 id="site-header">Where do you want to go?</h1>

        {% block content %} 
        {% endblock %}
    </body>

    <!--footer-->
    <div>
        <p>A travel wishlist; Built with Django</p>

        <a class="nav-link" href="{% url 'place_list' %}">Your wishlist</a>
        <a class="nav-link" href="{% url 'places_visited' %}">Places you've visited</a>
    </div>
</html>