{% extends 'travel_wishlist/base.html' %}
{% block content %}
<h2>Travel Wishlist</h2>

<form method="POST" action="{% url 'place_list' %}"> <!--method is the type of request -->
    {% csrf_token %}
    {{ new_place_form }}
    <button id="add-new-place" type="submit">Add</button>
</form>


{% for place in places %}

<div class="wishlist-place">
    <span class="place-name">{{ place.name }}</span>

    <!-- Form to mark place as visited for button to function -->
    <form class="visited-form" method="POST" action="{% url 'place_was_visited' place.pk %}"> <!--place.pk is the primary key of the place that is being drawn-->
        {% csrf_token %}
        <button>Visited!</button>
    </form>
</div>

{% empty %}

<p>You have no places on your wishlist.</p>

{% endfor %}

{% endblock %}